{% extends "base.html" %}

{% block title %}O autorze{% endblock %}

{% block content %}
<h2>O autorze</h2>
<p>Witaj! Nazywam się <strong>Maksym Shablovskyy</strong>, jestem studentem (ID <strong>237161</strong>), a ta aplikacja to owoc mojej pracy w ramach projektu programistycznego. Przygotowanie tego projektu było dla mnie wyjątkowym wyzwaniem, które wymagało zaangażowania, nauki nowych technologii oraz radzenia sobie z różnorodnymi trudnościami.</p>

<p>Jest to moja pierwsza ukończona aplikacja, z czego jestem niezwykle dumny. W trakcie jej tworzenia zmierzyłem się z wieloma nowymi zagadnieniami, ale ostatecznie udało mi się wszystko opanować. Ten projekt był dla mnie świetnym doświadczeniem i jestem bardzo szczęśliwy, że podjąłem się tego wyzwania.</p>

<p>Mam nadzieję, że moja aplikacja okaże się przydatna dla użytkowników, którzy chcą w łatwy sposób analizować opinie o produktach i przeprowadzać ich porównania. Dzięki automatyzacji procesu pobierania danych z serwisu Ceneo.pl, aplikacja oszczędza czas i umożliwia zgromadzenie wartościowych informacji w jednym miejscu.</p>

<h3>Potencjalne zastosowania aplikacji</h3>
<ul>
    <li><strong>Pomoc dla konsumentów:</strong> Użytkownicy mogą szybko porównywać opinie i oceny produktów przed dokonaniem zakupu.</li>
    <li><strong>Wsparcie dla analityków marketingowych:</strong> Aplikacja może posłużyć do analizy opinii klientów na temat produktów marki, co ułatwia identyfikację zalet i wad produktu.</li>
    <li><strong>Zarządzanie dużą ilością danych:</strong> Eksport danych do plików (CSV, JSON, XLSX) pozwala na ich dalszą analizę w zewnętrznych narzędziach.</li>
    <li><strong>Tworzenie raportów:</strong> Dane z aplikacji mogą być wykorzystane do generowania statystyk i wykresów obrazujących preferencje konsumentów.</li>
</ul>

<p>Praca nad tym projektem nauczyła mnie zaawansowanych technik programowania, lepszego zarządzania czasem oraz umiejętności pracy z różnymi technologiami. Jestem otwarty na nowe wyzwania i rozwój mojej aplikacji w przyszłości.</p>

<p>Moje repozytorium projektu znajdziesz na GitHubie pod poniższym linkiem:</p>
<a href="https://github.com/mshablovskyy/WebScraping" target="_blank">Zobacz repozytorium na GitHubie</a>

<h3>Podziękowania</h3>
<p>Chciałbym serdecznie podziękować moim nauczycielom, którzy wspierali mnie w trakcie realizacji tego projektu, dzielili się swoją wiedzą oraz doświadczeniem. Wasze wskazówki były bezcenne i nieocenione podczas nauki nowych zagadnień.</p>
{% endblock %}